@charset "UTF-8";

/* Typography Imports */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon:400,400i|Libre+Barcode+128+Text');
@font-face {
	font-family: 'AUTHENTIC Sans';
	src:
		url('../fonts/AUTHENTIC-Sans.woff2') format('woff2'),
		url('../fonts/AUTHENTIC-Sans.woff') format('woff');
}

/* Content */
html {
	margin: 0px;
	width: 100%;
	height: 100%;
}

body {
	font-family: 'AUTHENTIC Sans', "Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", Arial, sans-serif;
	color: #FF0;
	background-color: #F0F;
	display: table;
	margin: 0px;
	width: 100%;
	min-height: 100%;
}

.hero {
	text-align: center;
	width: 100%;
	height: 100%;
	font-size: 5vh;
	display: table-cell;
	vertical-align: middle;
}
.herotext {
	margin-left: auto;
	margin-right: auto;
	width: 50vh;
	min-width: 50%;
	max-width: 75%;
}
.name {
	font-family: 'IM Fell French Canon', serif;
	font-style: italic;
}
.copyright {
	position: absolute;
  	bottom: 0;
	right: 0;
	font-family: 'Libre Barcode 128 Text', sans-serif;
	font-size: 4vh;
	text-transform: uppercase;
}

/* Links */
a {
	font-family: 'IM Fell French Canon', serif;
	color: #0FF;
	font-style: italic;
}
a:hover {
	font-style: normal;
}
a:active {
	color: #FF0;
}
a:visited {
	color: #FFF;
}